<html>
    <head>
        <style>
                  body{
    background-image: url("https://media0.giphy.com/media/l3Ucsl31YmKwW9i3C/source.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}  
</style>
</head>
<body>
    <p>Login Failed</p>
</body>
</html>