<html>
    <head>
<style>
    body{
    background-color: black;
    background-image: url("https://cdn.glitch.global/5ec10806-a3f3-4f08-b552-0deb94a2c22b/1.jpg?v=1669906577662");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
}
.btn button{
    text-align: center;
    width: 200px;
    height:50px;
    border:3px solid rgba(250,10,10,0.801);
    background-color:red;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.btn button:hover{
    background-color: black;
    border: 3px solid red;
    cursor: pointer;

}

img{
    border-radius: 50%;
}
.container{
    display: flex;
    justify-content: space-between;
    color:white;
    margin-top: 30px;
}
.container .text{
    font-size: 40px;
    margin-left: 40px;

}

</style>
    </head>
    <body>
        <nav>
            <div class="btn" >
                <a href="http://localhost:3000/signin1">
                <button>Login</button></a>
                <a href="http://localhost:3000/signup1">
                <button>Sign Up</button></a>
            </div>
            <div class="image">
                <img src = "https://cdn.glitch.global/5ec10806-a3f3-4f08-b552-0deb94a2c22b/2.jpg?v=1669396170901" width="150px" height="150px">
            </div>
        </nav>

        <div class="container">
            <div class="text">
                <h2> WELCOME TO FITNESS WORLD</h2>
                <br>
                <br>
                <br>
                
               
                
            
            </div>
        </div>

    </body>
</html>
